#cart-item-full {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.252);
    border-radius: 7px;
    margin: 5px;
    display: flex;
    align-items: flex-start;
    position: relative;
    height: 130px;
}

#cart-item-img {
    background-color: #F1F1F1;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.252);
    height: 100px;
    width: 100px;
}

#offcanvasBottom {
    height: 100%;
}

#cart-text-bold {
    font-size: 15px;
    font-weight: 700;
    color: #000000;
}

#cart-text-small {
    font-size: 12px;
    font-weight: 400;
    color: #959595;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

#cart-item-price {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0px;
}

#cart-remove-button {
    position: absolute;
    top: 10px;
    right: 10px; 
    font-size: 13px;
}

#cart-close-button {
    padding-top: 0;
}

#cart-clear-button {
    box-shadow: 0px -1px 5.2px 0px #00000040 inset;
}

#cart-bottom {
    height: 150px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.252);
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}

.empty-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.empty-cart {
    display: flex;
    align-items: center;
    text-align: center;
}

.empty-cart-text {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #012B25;
}

.empty-cart-image {
    max-width: 100px;
    height: auto;
}

#cart-order-spinner {
    display: none;
}

#cart-check-spinner {
    display: none;
}

@media (min-width: 600px) {

    #cart-item-img {
        height: 150px;
        width: 150px;

    }
    #cart-text-bold {
        font-size: 18px;
    }
    #cart-text-small {
        font-size: 15px;
    }
    #cart-item-price {
        top: 40px;
    }
    #cart-button-order{
        padding: 9px;
        margin-bottom: 1rem;
    }
}

