hr {
    height: 20px;
    border: none;
    position: relative;
}

hr::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 30px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' height='100%25' width='100%25'><path d='M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z'/></svg>");
    background-repeat: repeat-x;
}

.floop {
    float: left;
}

@font-face {
    font-family: 'Kyiv';
    src: url('../font/KyivTypeSerif-Regular.woff') format('woff');
}

.receipt {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: left;
    background-image: url('../images/backgroundcheck.jpg');
    background-size: cover;
    font-family: 'Kyiv';
    font-size: 16px;
}

.receipt-info {
    font-size: 18px;
    font-weight: bold;
}

.receipt-item {
    margin-bottom: 10px;
}

.receipt-thanks {
    margin-top: 20px;
}

.container-receipt {
    overflow: hidden;
}

.name {
    float: left;
    text-align: left; 
    width: 60%;
}

.price {
    float: right;
    text-align: right;
    width: 40%; 
}

.receipt-info p {
    text-align: left;
}

#cart-button-check {
    width: 200px;
    height: 50px;
}

.container {
    height: 75px;
}


.name p {
    margin: 0;
}

.price p {
    margin: 0;
}
