:root {
    --bs-body-font-size: 13px;
    --bs-body-font-family: "Inter", sans-serif;
}

        #add-alert {
            width: auto;
            position: fixed;
            right: 0;
            bottom: 0;
        }

        header {
            background-image: url("../images/header.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 110px;
        }

        .card.product {
            width: 120px;
            height: 120px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        
        .card.product:hover {
            transform: scale(1.10);
        }
        
        
        .card.product img {
            width: 70px;
            height: 70px;
        }
        
        .product-price {
            font-size: 0.75rem;
        }
               
          .buttoncart {
            width: 500px;
            height: auto;
            position: fixed;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1000;
        }

          .cart-button-check {
            display: none;
          }
        
        
        .buttonimage {
            width: 500px;
            height: auto;
            box-shadow: 0 0px 0px black;
        }

        .buttoncart:hover {
            cursor: pointer;
        }

        footer{
            height: 130px;
        }
