         :root {
             --bs-body-font-size: 13px;
             --bs-body-font-family: "Inter", sans-serif;
         }
         
         #offcanvasBottom {
              height: 75%;
          }

          #open-cart {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        #clear-cart {
            margin-bottom: 10px;
            margin-right: 20px;
        }

        #add-alert {
            width: auto;
            position: fixed;
            right: 0;
            bottom: 0;
        }

        header {
            background-image: url("../images/header.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 110px;
        }

        .card.product {
            width: 150px;
            height: 150px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        
        .card.product:hover {
            transform: scale(1.10);
        }
        
        .card.product img {
            width: 100px;
            height: 100px;
        }      

        .element {
            background-color: #fff;
            width: 498px;
            height: 620px;
            padding: 40px;
            text-align: left;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            position: fixed;
            top: 51%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .element2 {
            background-color: #e5e2e2;
            width: 440px;
            height: 290px;
            padding: 40px;
            text-align: left;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 28%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .image {
            width: 300px;
            height: 300px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin: 0 auto;
            display: block;
            position: absolute;
            margin-top: -40px;
            margin-left: 20px;
        }

        .title {
            font-weight: bold;
            font-size: 28px;
            position: absolute;
            margin-top: 290px;
            margin-left: -10px;
        }

        .description {
            font-size: 15px;
            position: absolute;
            margin-top: 330px;
            margin-left: -10px;
            margin-right: 30px;
        }

        .price {
            position: absolute;
            margin-top: 530px;
            margin-left: -12px;
            font-size: 20px;
            font-weight: bold;
        }

        .cart-button {
            position: absolute;
            margin-top: 550px;
            margin-left: 120px;
            padding: 15px 55px;
            background-color: #292828;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
            color: white;
            text-decoration: none;
            border-radius: 10px;
            cursor: pointer;
        }

        .quantity-controls {
            position: absolute;
            display: flex;
            align-items: center;
            margin-top: 530px;
            margin-left: 350px;
        }

        .quantity-controls button.quantity-button {
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s;
        }

        .quantity-controls button.quantity-button:hover {
            background-color: #e0e0e0;
        }

        .quantity-controls input {
            width: 30px;
            text-align: center;
            margin: 0 5px;
            border: none;
            font-size: 20px;
            font-weight: bold;
        }    