         :root {
             --bs-body-font-size: 13px;
             --bs-body-font-family: "Inter", sans-serif;
         }
         
         #offcanvasBottom {
              height: 75%;
          }

          #open-cart {
            position: fixed;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
        }

        #clear-cart {
            margin-bottom: 10px;
            margin-right: 20px;
        }

        #add-alert {
            width: auto;
            position: fixed;
            right: 0;
            bottom: 0;
        }

        header {
            background-image: url("../images/header.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 110px;
        }

        .card.product {
            width: 150px;
            height: 150px;
            cursor: pointer;
            transition: transform 0.3s ease;
        }
        
        .card.product:hover {
            transform: scale(1.10);
        }
        
        
        .card.product img {
            width: 100px;
            height: 100px;
        }
                
                
        