<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBHost" value="192.168.88.139" />
		<add key="DBName" value="kakadu" />
		<add key="DBPort" value="3306" />
		<add key="DBUser" value="manager" />
		<add key="DBPassword" value="FN79GDgQ6PI6fgx" />
	</appSettings>
</configuration>
